<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>CSS Layout</title>
</head>
<body>
    <h1>CSS Layout</h1>
    <h2>Box-sizing Property Example</h2>

    <div class="box-content">
        <p></p>
    </div>
    <br>

    <div class="box-border">
        <p>Border Box</p>
    </div>
    <br><br>
    <h2>Display Property Example</h2>

    <div class="block">Block Element</div>

    <span class="inline">Inline Element</span>
    
    <div class="inline-block">Inline-Block Element</div>
    <br><br>

    <h2>Positioning Elements Example</h2>

    <div class="sticky">Sticky Position</div>

    <div class="static">Static Postion</div>

    <div class="relative">Relative Position</div>

    <div class="absolute">Absolute Position</div>

    <div class="fixed">Fixed Position</div>
    <br><br>

    <h2>Floats and Clearing Floats Examlpe</h2>

    <div>
        <div class="float-right">Float Right</div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa saepe obcaecati magnam laborum pariatur inventore fugit, praesentium, natus deserunt totam quis, iure dolorem incidunt animi nemo eveniet illum! Atque, reiciendis similique sint cum praesentium magnam expedita non, ratione fuga sapiente enim quibusdam. Ullam dolorum placeat nesciunt at reiciendis, architecto culpa!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quo quas labore, aliquam cumque placeat ducimus. Quaerat, modi illo itaque illum at similique vel ratione veniam corrupti sapiente et fugit placeat reprehenderit commodi accusantium expedita tempore fuga maiores voluptatibus labore voluptatem voluptatum tempora. Pariatur odit, asperiores ratione dolores placeat illum. 
    </div>

    <div>
        <div class="float-left">Float Right</div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ducimus mollitia illo fugiat voluptatem maiores inventore, ab nemo quam obcaecati ad velit impedit! Aliquid quo explicabo voluptas officiis quam, quia cum ipsum dolorem error et voluptatum rerum. Maiores quae officia voluptates et recusandae, illum pariatur animi tenetur impedit, sint fuga!

        <div class="clear-floats">Clear Floats</div>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa id unde, ullam enim recusandae dolores nemo iste harum eaque esse sit debitis dignissimos non. Consequatur dicta, tenetur aliquam repellat repudiandae nulla maiores? Earum nam veniam nobis ullam fugit error, consequatur, modi provident blanditiis porro recusandae quisquam id? Veniam, facere itaque!
    </div>
    
    <h2>Centering Element Example</h2>
    <div class="parent-box">
        <div class="center-horizontal">
            <p>This box is horizontally centered</p>
        </div>
    </div>

    <div class="parent-box center-vertical">
        <div>
            <p>This text is vertically centered</p>
        </div>
    </div>

    <div class="parent-box center-horizontal-vertial">
        <div>
            <p>This text is vertically and horizontally centered.</p>
        </div>
    </div>

    







    <br><br><br><br><br><br><br><br><br><br>

</body>
</html>