.flexItem {
    width: 400px;
    margin: 10px;
    border: 2px black solid;
    background-color: lightblue;
    text-align: center;
    justify-content: center;
    
}
.cross-axis {
    position: absolute;
    right: 50%;
    height: 1080px;
    width: 3px;
    background-color: blue;
}

.main-axis {
    position: absolute;
    top: 50%;
    height: 3px;
    width: 2160px;
    background-color: red;
}

.container {
    height: 300px;
    background-color: yellowgreen;
    position: relative;
    overflow: hidden;
}

/* ======= Flexbox properties discussion starts here ========*/

.flexContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.flex1 {
    min-height: 100px;
    /* flex-shrink: 5; */
    /* flex-grow: 2; */
}

.flex2 {
    min-height: 120px;
    /* flex-shrink: 2; */
    /* flex-grow: 0; */
    /* flex-basis: 150px; */
    align-self: center;
}

.flex3 {
    min-height: 140px;
    /* flex: 4 5 120px; */
}